<div *ngIf="tags" [style.justifyContent]="justifyContent">
  <!-- se l'array di tag ha degli item dentro, mostra il div -->
  <a *ngFor="let tag of tags" routerLink="/tag/{{ tag.name }}">
    {{ tag.name }} ({{ tag.count }})
  </a>
</div>

<div *ngIf="foodPageTags" [style.justifyContent]="justifyContent">
  <a *ngFor="let tagName of foodPageTags" routerLink="/tag/{{ tagName }}">
    {{ tagName }}
      <!-- non più tag.name perché non si tratta più del modello ma di una stringa -->
  </a>
</div>
